<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/meta' %>
	<%= render 'layouts/shim' %>  
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
	<title><%= full_title(@page_title) %></title>
    
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">	
	<%= render 'layouts/navbar' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
